.legend{
    width: 20px;
    height: 10px;
    margin-right:5px;
    margin-left: 10%;
    border-radius:1px
}
.legend-title{
    margin-right: 0%;
    font-family: roboto;
    font-size: 11px;
    color: #003168;
    
    
}
.title{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(53 90 192);
    padding-left: 3%;
    font-size:large;
    padding-top: 5px;
    font-weight: bold;
}
.legend-box{
    display: flex;
          flex-direction:row;
          align-items:center;
           margin-left: 10%; 
          width: 78%;
          
}
.chart-box{
    /* border-style: ridge; */
    padding-bottom: 30px;
    /* margin-top: 5px; */
    margin-left: -30px;
    margin-right: 30px;
}
.fixed-axis{
    padding-left: 100px;
    height: 50px;
    width: 1529;
    padding-bottom: 1%
}
.chartCard{
    height: 475px;
     overflow-y: scroll;
      position: relative;
      
}