<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="SPA Rewrite Rule">
                    <match url="`.*`" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" pattern=".\*.(jpg|jpeg|png|gif|css|js|ico|woff|woff2|ttf|eot|map)$" negate="true" />
                        <add input="{REQUEST_URL}" pattern="(.*)" />
                    </conditions>
                    <action type="Rewrite" url="/index.html" logRewrittenUrl="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
