.paperWrapper{
    padding-top: 60px;
}

.titleStyler{
    margin-left: 50px;
    padding-top: 10px;
    margin-top: 20px;
}

.filterStyler{
    padding-bottom: 1%;
    padding-top: 1%;
}

.tableWrapper{
    padding-left: 50px;
    padding-right: 50px;
}